<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Logis - Início</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/static/global/img/icone.png" rel="icon">
    <link href="/static/global/img/apple-icone" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/static/global/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/global/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/static/global/vendor/aos/aos.css" rel="stylesheet">
    <link href="/static/global/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="/static/global/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="/static/global/css/main.css" rel="stylesheet">

    <!-- =======================================================
  * Template Name: Day
  * Template URL: https://bootstrapmade.com/day-multipurpose-html-template-for-free/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body class="index-page">

    <header id="header" class="header fixed-top">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope d-flex align-items-center"><a
                            href="mailto:matheusmarcelino.dev@gmail.com">matheusmarcelino.dev@gmail.com</a></i>
                    <i class="bi bi-phone d-flex align-items-center ms-4"><span>(21) 97239-2745</span></i>
                </div>
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div><!-- End Top Bar -->

        <div class="branding d-flex align-items-center">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="index.html" class="logo d-flex align-items-center">
                    <!-- Uncomment the line below if you also wish to use an image logo -->
                    <!-- <img src="/static/global/img/logo.png" alt=""> -->
                    <h1 class="sitename">Logis</h1>
                </a>

                <nav id="navmenu" class="navmenu">
                    <ul>
                        <li><a href="#hero" class="active">Home</a></li>
                        <li><a href="#about">Sobre</a></li>
                        <li><a href="#portfolio">Produtos</a></li>
                        <li><a href="#team">Equipe</a></li>
                        <li class="dropdown"><a href="#"><span>Dropdown</span> <i
                                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                            <ul>
                                <li><a href="#">Dropdown 1</a></li>
                                <li class="dropdown"><a href="#"><span>Deep Dropdown</span> <i
                                            class="bi bi-chevron-down toggle-dropdown"></i></a>
                                    <ul>
                                        <li><a href="#">Deep Dropdown 1</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Dropdown 2</a></li>
                            </ul>
                        </li>
                        <li><a href="#contact">Contato</a></li>
                    </ul>
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
            </div>

        </div>

    </header>

    <main class="main">

        <!-- Hero Section -->
        <section id="hero" class="hero section dark-background">

            <img src="/static/global/img/naruto.png" alt="" data-aos="fade-in">

            <div class="container" data-aos="fade-up" data-aos-delay="100">
                <div class="row justify-content-start">
                    <div class="col-lg-8">
                        <h2>Bem-vindo à Logis!</h2>
                        <p>A realização de um jovem de 17 anos, nascido e criado no subúrbio do Rio de Janeiro.</p>
                        <a href="#about" class="btn-get-started">Começar</a>
                    </div>
                </div>
            </div>

        </section><!-- /Hero Section -->

        <!-- About Section -->
        <section id="about" class="about section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>Quem Somos<br></span>
                <h2>Quem Somos<br></h2>
                <p>Inovação que transforma sonhos em realidade.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row gy-4">

                    <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-up" data-aos-delay="100">
                        <img src="/static/global/img/harley.png" class="img-fluid" alt="">
                    </div>

                    <div class="col-lg-6 order-2 order-lg-1 content" data-aos="fade-up" data-aos-delay="200">
                        <h3>Inovação e Paixão por Games</h3>
                        <p class="fst-italic">
                            A Logis é o sonho realizado de Matheus Lopes, um jovem de 17 anos da Baixada Fluminense.
                            Aqui, você encontra jogos, consoles e produtos exclusivos, feitos para quem vive o universo
                            gamer.
                        </p>
                        <ul>
                            <li><i class="bi bi-check-circle"></i> <span>Compromisso com a Qualidade: Produtos
                                    selecionados com cuidado para garantir a melhor experiência.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Paixão pelo Mundo Gamer: Criamos um espaço onde
                                    você pode encontrar tudo o que ama.</span></li>
                            <li><i class="bi bi-check-circle"></i> <span>Acreditar nos Sonhos: Somos prova de que
                                    acreditar e transformar sonhos em realidade é possível.</span></li>
                        </ul>
                        <a href="#" class="read-more"><span>Leia Mais</span><i class="bi bi-arrow-right"></i></a>
                    </div>

                </div>

            </div>

        </section><!-- /About Section -->

        <!-- Clients Section -->
        <section id="clients" class="clients section light-background">

            <div class="container">

                <div class="swiper init-swiper">
                    <script type="application/json" class="swiper-config">
            {
              "loop": true,
              "speed": 600,
              "autoplay": {
                "delay": 5000
              },
              "slidesPerView": "auto",
              "pagination": {
                "el": ".swiper-pagination",
                "type": "bullets",
                "clickable": true
              },
              "breakpoints": {
                "320": {
                  "slidesPerView": 2,
                  "spaceBetween": 40
                },
                "480": {
                  "slidesPerView": 3,
                  "spaceBetween": 60
                },
                "640": {
                  "slidesPerView": 4,
                  "spaceBetween": 80
                },
                "992": {
                  "slidesPerView": 6,
                  "spaceBetween": 120
                }
              }
            }
          </script>
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="/static/global/img/clients/nintendo.png" class="img-fluid"
                                alt=""></div>
                        <div class="swiper-slide"><img src="/static/global/img/clients/playstation.png"
                                class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="/static/global/img/clients/xbox.png" class="img-fluid"
                                alt=""></div>
                        <div class="swiper-slide"><img src="/static/global/img/clients/steam.png" class="img-fluid"
                                alt=""></div>
                        <div class="swiper-slide"><img src="/static/global/img/clients/naruto.png" class="img-fluid"
                                alt=""></div>
                        <div class="swiper-slide"><img src="/static/global/img/clients/jujutsu.png" class="img-fluid"
                                alt=""></div>
                        <div class="swiper-slide"><img src="/static/global/img/clients/vagabond.png" class="img-fluid"
                                alt=""></div>
                        <div class="swiper-slide"><img src="/static/global/img/clients/crunchyroll.png"
                                class="img-fluid" alt=""></div>
                    </div>
                </div>

            </div>

        </section><!-- /Clients Section -->

        <!-- Call To Action Section -->
        <section id="call-to-action" class="call-to-action section dark-background">

            <img src="/static/global/img/wallpaper.jpg" alt="">

            <div class="container">
                <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
                    <div class="col-xl-10">
                        <div class="text-center">
                            <h3>Mangás</h3>
                            <p>Adquira os melhores mangás em nossas lojas parceiras e aproveite descontos especiais
                                feitos para todos que amam a cultura oriental. Mostre seu apoio ao nosso trabalho e
                                mergulhe em histórias incríveis que vão encantar você e alimentar sua paixão pelo
                                universo dos mangás!</p>
                            <a class="cta-btn" href="#">Compre Aqui!</a>
                        </div>
                    </div>
                </div>
            </div>

        </section><!-- /Call To Action Section -->

        <!-- Portfolio Section -->
        <section id="portfolio" class="portfolio section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>Produtos</span>
                <h2>Produtos</h2>
                <p>Confira nosso catálogo repleto de produtos exclusivos e apaixonantes!</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

                    <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                        <li data-filter="*" class="filter-active">Lançamentos</li>
                        <li data-filter=".filter-app">Nintendo</li>
                        <li data-filter=".filter-product">PlayStation</li>
                        <li data-filter=".filter-branding">PC</li>
                    </ul><!-- End Portfolio Filters -->

                    <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="/static/global/img/produtos/zelda.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>The Legend of Zelda: Echoes of Wisdom</h4>
                                <p>Salve Hyrule com a Princesa Zelda.</p>
                                <a href="/static/global/img/produtos/zelda.jpg"
                                    title="The Legend of Zelda: Echoes of Wisdom"
                                    data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="/static/global/img/produtos/wukong.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Black Myth: Wukong</h4>
                                <p>Enfrente seu destino na jornada para o oeste.</p>
                                <a href="/static/global/img/produtos/wukong.jpg" title="Black Myth: Wukong"
                                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="/static/global/img/produtos/last.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>The Last of Us Part II Remastered</h4>
                                <p>Viva a experiência vencedora de mais de 300 prêmios de Jogo do Ano.</p>
                                <a href="/static/global/img/produtos/last.jpg" title="The Last of Us Part II Remastered"
                                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="/static/global/img/produtos/luigi.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Luigi's Mansion 3</h4>
                                <p>A próxima aventura fantasmagórica chega no seu Nintendo Switch em Luigi's Mansion 3!
                                </p>
                                <a href="/static/global/img/produtos/luigi.jpg" title="Luigi's Mansion 3"
                                    data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="/static/global/img/produtos/silenthill2.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Silent Hill 2</h4>
                                <p>Explore Silent Hill e procure a esposa falecida de James neste terror psicológico
                                    revivido.</p>
                                <a href="/static/global/img/produtos/silenthill2.jpg" title="Silent Hill 2"
                                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-branding">
                            <img src="/static/global/img/produtos/liesofp.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Lies of P</h4>
                                <p>Um jogo de ação e fantasia sombria inspirado pela história clássica do Pinóquio.</p>
                                <a href="/static/global/img/produtos/liesofp.jpg" title="Lies of P"
                                    data-gallery="portfolio-gallery-product" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="/static/global/img/produtos/spiderman.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Marvel's Spider-Man 2</h4>
                                <p>SEJAM MELHORES. JUNTOS.</p>
                                <a href="/static/global/img/produtos/spiderman.jpg" title="Marvel's Spider-Man 2"
                                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-product">
                            <img src="/static/global/img/produtos/god.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>God of War Ragnarök</h4>
                                <p>Embarque em uma jornada épica e comovente onde Kratos e Atreus lutam entre o desejo
                                    de manterem-se unidos ou separar-se.</p>
                                <a href="/static/global/img/produtos/god.jpg" title="God of War Ragnarök"
                                    data-gallery="portfolio-gallery-branding" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->

                        <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-app">
                            <img src="/static/global/img/produtos/marioparty.jpg" class="img-fluid" alt="">
                            <div class="portfolio-info">
                                <h4>Super Mario Party Jamboree</h4>
                                <p>Entre numa baita duma festança!</p>
                                <a href="/static/global/img/produtos/marioparty.jpg" title="Super Mario Party Jamboree"
                                    data-gallery="portfolio-gallery-app" class="glightbox preview-link"><i
                                        class="bi bi-zoom-in"></i></a>
                                <a href="portfolio-details.html" title="Mais Detalhes" class="details-link"><i
                                        class="bi bi-link-45deg"></i></a>
                            </div>
                        </div><!-- End Portfolio Item -->


                    </div>

                </div>

        </section><!-- /Portfolio Section -->

        <!-- Team Section -->
        <section id="team" class="team section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>Equipe</span>
                <h2>Equipe</h2>
                <p>Na Logis, cada detalhe é feito com dedicação por um idealizador apaixonado por inovação e qualidade.</p>
            </div><!-- End Section Title -->

            <div class="container">

                <div class="row justify-content-center align-items-center">

                    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="/static/global/img/equipe/eu.png" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>Matheus Lopes</h4>
                                <span>Programador - Díscupulo de Elias</span>
                                <p>
                                    Idealizador, estrategista e executor: responsável por cada detalhe do projeto Logis, desde o marketing e conteúdo do site até a criação e gestão da empresa. Um verdadeiro time de um homem só, movido pela paixão e determinação.
                                </p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                    <div class="col-lg-4 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                        <div class="member">
                            <img src="/static/global/img/equipe/elias.png" class="img-fluid" alt="">
                            <div class="member-content">
                                <h4>Elias Santos</h4>
                                <span>Mestre</span>
                                <p>
                                    O professor que ensinou tudo sobre Python e despertou a paixão pela programação. Um verdadeiro mentor, cuja dedicação e conhecimento foram fundamentais para transformar desafios em conquistas e sonhos em realidade. A ele, toda a gratidão e reconhecimento.
                                </p>
                                <div class="social">
                                    <a href=""><i class="bi bi-twitter-x"></i></a>
                                    <a href=""><i class="bi bi-facebook"></i></a>
                                    <a href=""><i class="bi bi-instagram"></i></a>
                                    <a href=""><i class="bi bi-linkedin"></i></a>
                                </div>
                            </div>
                        </div>
                    </div><!-- End Team Member -->

                </div>

            </div>

        </section><!-- /Team Section -->

        <!-- Contact Section -->
        <section id="contact" class="contact section">

            <!-- Section Title -->
            <div class="container section-title" data-aos="fade-up">
                <span>Contato</span>
                <h2>Contato</h2>
                <p>Entre em contato conosco para tirar dúvidas, enviar sugestões ou conhecer mais sobre a Logis. Estamos sempre prontos para ajudar!</p>
            </div><!-- End Section Title -->

            <div class="container" data-aos="fade-up" data-aos-delay="100">

                <div class="row gy-4">

                    <div class="col-lg-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center"
                            data-aos="fade-up" data-aos-delay="200">
                            <i class="bi bi-geo-alt"></i>
                            <h3>Endereço</h3>
                            <p>Avenida Abílio Augusto Távora, 1.111, Bairro da Luz, Nova Iguaçu, RJ, Brasil</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center"
                            data-aos="fade-up" data-aos-delay="300">
                            <i class="bi bi-telephone"></i>
                            <h3>Fale Conosco</h3>
                            <p>(21) 97239-2745</p>
                        </div>
                    </div><!-- End Info Item -->

                    <div class="col-lg-3 col-md-6">
                        <div class="info-item d-flex flex-column justify-content-center align-items-center"
                            data-aos="fade-up" data-aos-delay="400">
                            <i class="bi bi-envelope"></i>
                            <h3>Mande Mensagem</h3>
                            <p>matheusmarcelino.dev@gmail.com</p>
                        </div>
                    </div><!-- End Info Item -->

                </div>

                <div class="row gy-4 mt-1">
                    <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3679.0670402730693!2d-43.4651577!3d-22.762893199999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9967f809a644a3%3A0x9c3ec3d5526e1803!2sShopping%20Nova%20Igua%C3%A7u!5e0!3m2!1spt-BR!2sbr!4v1734641805466!5m2!1spt-BR!2sbr"
                            frameborder="0" style="border:0; width: 100%; height: 400px;" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div><!-- End Google Maps -->

                    <div class="col-lg-6">
                        <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up"
                            data-aos-delay="400">
                            <div class="row gy-4">

                                <div class="col-md-6">
                                    <input type="text" name="name" class="form-control" placeholder="*Digite seu nome"
                                        required="">
                                </div>

                                <div class="col-md-6 ">
                                    <input type="email" class="form-control" name="email" placeholder="*Digite seu e-mail"
                                        required="">
                                </div>

                                <div class="col-md-12">
                                    <input type="text" class="form-control" name="subject" placeholder="Assunto"
                                        required="">
                                </div>

                                <div class="col-md-12">
                                    <textarea class="form-control" name="message" rows="6" placeholder="Mensagem"
                                        required=""></textarea>
                                </div>

                                <div class="col-md-12 text-center">
                                    <div class="loading">Loading</div>
                                    <div class="error-message"></div>
                                    <div class="sent-message">Your message has been sent. Thank you!</div>

                                    <button type="submit">Enviar Mensagem</button>
                                </div>

                            </div>
                        </form>
                    </div><!-- End Contact Form -->

                </div>

            </div>

        </section><!-- /Contact Section -->

    </main>

    <footer id="footer" class="footer position-relative dark-background">

        <div class="container footer-top">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-about">
                        <a href="index.html" class="logo sitename">Logis</a>
                        <div class="footer-contact pt-3">
                            <p>Avenida Abílio Augusto Távora, 1.111</p>
                            <p>Bairro da Luz, Nova Iguaçu, RJ, Brasil</p>
                            <p class="mt-3"><strong>Telefone:</strong> <span>(21) 97239-2745</span></p>
                            <p><strong>E-mail:</strong> <span>matheusmarcelino.dev@gmail.com</span></p>
                        </div>
                        <div class="social-links d-flex mt-4">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Links Úteis</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Sobre Nós</a></li>
                        <li><a href="#">Produtos</a></li>
                    </ul>
                </div>

                <div class="col-lg-2 col-md-3 footer-links">
                    <h4>Nossos Parceiros</h4>
                    <ul>
                        <li><a href="#">Crunchryroll</a></li>
                        <li><a href="#">Rika Comic Shop</a></li>
                        <li><a href="#">Chessflix - Master Class</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-12 footer-newsletter">
                    <h4>Logis News</h4>
                    <p>Receba nossas ofertas.</p>
                    <form action="forms/newsletter.php" method="post" class="php-email-form">
                        <div class="newsletter-form"><input type="email" name="email"><input type="submit"
                                value="Subscribe"></div>
                        <div class="loading">Loading</div>
                        <div class="error-message"></div>
                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>
                    </form>
                </div>

            </div>
        </div>

        <div class="container copyright text-center mt-4">
            <p>© <span>Copyright</span> <strong class="px-1 sitename">Logis</strong> <span>Todos os direitos reservados.</span></p>
            <div class="credits">
                <!-- All the links in the footer should remain intact. -->
                <!-- You can delete the links only if you've purchased the pro version. -->
                <!-- Licensing information: https://bootstrapmade.com/license/ -->
                <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
                Desenvolvido por <a href="https://bootstrapmade.com/">Matheus Lopes</a>
            </div>
        </div>

    </footer>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="/static/global/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/static/global/vendor/php-email-form/validate.js"></script>
    <script src="/static/global/vendor/aos/aos.js"></script>
    <script src="/static/global/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="/static/global/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/static/global/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/static/global/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Main JS File -->
    <script src="/static/global/js/main.js"></script>

</body>

</html>